{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

<div class="section black">
    <div class="row container">
        <h2 class="header primary">{{post.title}}</h2>
        <h5 class='text-white'>{{post.created_on}}</h5>
        <p class="white-text">
        {{post.body|safe}}
        </p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

{% endblock %}