{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .parallax-container {
            height: 200px;
        }
        .primary {
            transition: color 1s ease;
        }
        .primary:hover {
            color: grey;
        }
    </style>
    <title>xristos katsaros</title>
</head>
<body>

    <div class='container'>
        <div class='nav-wrapper'>
            <div class='row'>
                <div class='valign-wrapper col s12'>
                    <ul id='slide-out' class='sidenav grey darken-3'>
                        <div class='container center'>
                            <li>
                                <img style="border-radius: 50%; max-width: 50%; padding-top: 50px; -webkit-filter: grayscale(100%); filter: grayscale(100%)" src="{% static 'imgs/xkphoto.png' %}">
                            </li>
                            <li><a href={% url 'blog' %}>Blog</a></li>
                            <li><a href={% url 'datasets' %}>Datasets</a></li>
                            <li><a href={% url 'projects' %}>Projects</a></li>
                        </div>
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger black"><i class="medium material-icons">menu</i></a>
                    {% comment %} <nav>
                        <h6 style='color: #bdbdbd; padding-left: 10px;'>projects</h6>
                    </nav> {% endcomment %}
                </div>
            </div>
        </div>
        <div class='row center'>
            <a href="{% url 'home' %}"><h4 class='primary'>XRISTOS KATSAROS</h4></a>
            <h6>Data Science || Machine Learning || Critical Analysis
        </div>
            
    </div>

    {% block content %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% comment %} make a conditional that allows this button to show up if admin is logged in (is_authenticated?) {% endcomment %}
        <div class="section black">
            <div class="row container">
                <a href={% url 'add_blog' %}><button class='waves-light'>Add Post</button></a>
            </div>
        </div>

        <div class="parallax-container">
            <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
        </div>
    {% endif %}

    <footer class='page-footer black'>
        <div class='container'>
            <h5 class='primary'>Contact</h5>
            <p>email, twitter, linkedin, github</p>
        </div>
    </footer>

    <script>
        M.AutoInit();
    </script>
    
</body>
</html>