{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <style>
        .parallax-container {
            height: 200px;
        }
        .primary {
            transition: color 1s ease;
        }
        .primary:hover {
            color: grey;
        }
        img {
            filter: grayscale(100%);
            transition: filter 1s ease;
        }
        img:hover {
            filter: grayscale(100) opacity(30%);
        }
    </style>
    <title>{% block title %}Xristos Katsaros{% endblock %}</title>

</head>
<body>

    <div class='container'>
        <div class='nav-wrapper'>
            <div class='row'>
                <div class='valign-wrapper col s6'>
                    <ul id='slide-out' class='sidenav grey darken-3'>
                        <div class='container center'>
                            <li>
                                <img style="border-radius: 50%; max-width: 50%; padding-top: 50px; -webkit-filter: grayscale(100%); filter: grayscale(100%)" src="{% static 'imgs/xkphoto.png' %}">
                            </li>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href={% url 'blog' %}>Blog</a></li>
                            <li><a href={% url 'datasets' %}>Datasets</a></li>
                            <li><a href={% url 'projects' %}>Projects</a></li>
                        </div>
                    </ul>
                    <a href="#" data-target="slide-out" class="sidenav-trigger black"><i class="medium material-icons">menu</i></a>
                </div>
                <div class='col s6 right-align' style='padding-top: 17px;'>
                    <a href='https://github.com/xxristoskk'>
                    <img style='max-width:32px; max-height:32px;' src="{% static 'imgs/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png' %}"></a> 
                    <a href='https://twitter.com/_xristosk_'>
                    <img src="{% static 'imgs/Twitter logo/PNG/2021 Twitter logo - white.png' %}" style='max-width:32px; max-height:32px;'></a> 
                    <a href='https://www.linkedin.com/in/xristos-katsaros/'>
                    <img style='max-width:32px; max-height:32px;' src="{% static 'imgs/LinkedIn-Logos/LI-In-Bug.png' %}"></a>
                </div>
            </div>
        </div>

        <div class='row center'>
            <div class='divider'></div>
            <a href="{% url 'home' %}"><h4 class='primary'>XRISTOS KATSAROS</h4></a>
            <p>They/Them</p>
            <h6 style='padding-bottom: 20px;'>Data Science || Machine Learning || Critical Analysis</h6>
            <div class='divider'></div>
        </div>
    </div>



    <div class='container'>
        {% block content %}
        {% endblock %}
    </div>

    <footer class='page-footer black'>
        <div class='container'>
        
            <p class='right-align'>Created with Django & Materialize</p>
            <p class='right-align'>© 2021 Xristos Katsaros</p>
            
        </div>
    </footer>

    <script>
        M.AutoInit();
    </script>
    
</body>
</html>