{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

<div class="section black">
    <div class="row container">
        <h2 class="header primary">About Me</h2>
        <h6 class="grey-text text-darken-2 lighten-3">
        With a background in Philosophy, I aim to unpack and present data in a way that is accessible for any audience. My concentration is 
        in Natural Language Processing, utilizing my knowledge of Critical Theory.
        </h6>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

<div class="section black">
    
    <div class="row container">

        <h2 class="header primary">Skills</h2>
        <div class='col s4'>
            <div class='card'>
                <div class='card-content'>
                    <span class='card-title grey-text'><b>Database</b></span>
                        MySQL <b>||</b> MongoDB
                </div>
            </div>
        </div>

        <div class='col s4'>
            <div class='card'>
                <div class='card-content'>
                    <span class='card-title grey-text'><b>Frontend</b></span>
                        HTML5 <b>||</b> JavaScript <b>||</b> CSS3
                </div>
            </div>
        </div>

        <div class='col s4'>
            <div class='card'>
                <div class='card-content'>
                    <span class='card-title grey-text'><b>Backend</b></span>
                        Python <b>||</b> Node.js
                </div>
            </div>
        </div>
    </div>

    <div class='row container'>

        <div class='col s4'>
            <div class='card'>
                <div class='card-content'>
                    <span class='card-title grey-text'><b>Operating System</b></span>
                        Windows <b>||</b> Linux
                </div>
            </div>
        </div>

        <div class='col s4'>
            <div class='card'>
                <div class='card-content'>
                    <span class='card-title grey-text'><b>Data Viz</b></span>
                        Plotly <b>||</b> Matplotlib
                </div>
            </div>
        </div>

        <div class='col s4'>
            <div class='card'>
                <div class='card-content'>
                    <span class='card-title grey-text'><b>Machine Learning</b></span>
                        Scikit-Learn <b>||</b> Pandas <b>||</b> PyTorch
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

<footer class='page-footer black'>
    <div class='container'>
        <h5 class='primary'>Contact</h5>
        <p>email, twitter, linkedin, github</p>
    </div>

</footer>

{% endblock %}