{% extends 'base.html' %}
{% load static %}

{% block title %}Xristos - Projects{% endblock %}


{% block content %}

<style type='text/css'>
    .card {
        color: black;
        background: #e0e0e0;
    }
    
    a {
        transition: color 1s ease;
    }
    
    a:hover {
        color: orangered;
    }
</style>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

<div class="section black">
    <div class="row container">
        <h2 class="header primary">CurationStation</h2>
        <div class='card horizontal'>
            <div class='card-image'><img src="{% static 'imgs/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png' %}"></div>
            <div class='card-content'>
                <p>The aim of this project is to make it easier to discover and support independent musical artists. It is the first Django app I made 
                and deployed, and plan on using it as a vessel for the machine learning model I started developing at Flatiron</p>
            </div>
            <div class='card-action'>
                <a href='#'>GitHub</a>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

<div class="section black">
    <div class="row container">
        <h2 class="header primary">Using NLP On Tweets</h2>
        <div class='card horizontal'>
            <div class='card-image'><img src="{% static 'imgs/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png'  %}"></div>
            <div class='card-content'>
                <p>Natural Language Processing is an area of Data Science that focueses on the data of language. In this project, I scraped Twitter 
                during a couple of the Primary Debates to see what people were saying about the candidates. I wrote a blog about the process and created 
                my first functional Django app incorporating interactive visualizations.</p>
            </div>
            <div class='card-action'>
                <a href='#'>GitHub</a>
            </div>
            <div class='card-action'>
                <a href='#'>Analyis</a>
            </div>
        </div>
    </div>
</div>


<div class="parallax-container">
    <div class="parallax"><img src="{% static 'imgs/zu0W9Me.png' %}"></div>
</div>

{% endblock %}